.empty_reels_page {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 0.825rem;
    color: aliceblue;
}
.store_loader_container {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reels_page_container {
    width: 100%;
    height: 85vh;
}
.reels_page_header {
    border-bottom: 1px solid rgba(240, 240, 240, 0.142);
    padding: 7px;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_reels_search_input {
    font-size: 0.825rem !important;
    font-weight: 400 !important;
    width: 450px !important;
    color: aliceblue !important;
    border: 1px solid aliceblue !important;
}
.reels_page_body {
    width: 100%;
    height: 69.5vh;
    overflow: scroll;
}
.reels_page_body::-webkit-scrollbar {
    display: none;
}
.reels_page_body {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
}
.reels_page_body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    overflow: scroll;;
}
.reels_description {
    font-size: 0.75rem;
    font-weight: 400;
    color: aliceblue;
}
.pagination_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination_btn {
    font-size: 0.75rem !important;
    font-weight: 400 !important;
    width: fit-content !important;
    height: fit-content !important;
}