.tournament_page_header {
    border: 1px solid rgba(216, 216, 216, 0.242);
    padding: 9px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.create_tour_body {
    width: 100%;
    height: 50vh;
    overflow: auto;
}
.user_section_section {
    width: 100%;
    position: relative;
}
.user_list_section {
    width: 100%;
    background-color: white;
}
.user_card {
    margin: 5px 0;
    display: flex;
    align-items: center;
    border: 1px solid rgb(189, 184, 184);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
.user_name {
    font-weight: 500;
    font-size: 0.825rem;
}
.user_avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.select_user_section {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 5px 12px;
    background-color: royalblue;
    color: aliceblue;
    font-weight: 400;
    font-size: 0.725rem;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.cancel_icon {
    margin-left: 12px;
    color: aliceblue;
    font-size: 0.85rem;
}
.tournaments_section {
    width: 100%;
    height: 69.5vh;
    overflow: scroll;
    overflow-x: hidden;
}
.empty_list {
    font-weight: 500;
    font-size: 0.85rem;
    position: absolute;
    left: 50%;
    top: 50%;
    color: aliceblue;
}
.empty_tbody {
    width: 100% !important;
}
.user_magement_page {
    width: 100%;
    height: 85vh;
    overflow: scroll;
    overflow-y: none;
    overflow-x: none;
}
.create_tournamnet_body {
    border: 1px solid red;
    width: 100%;
    height: 70vh;
}
.stepper_indicator {
    height: 10px;
    background-color: crimson;
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: -2;
}
.form_stepper_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
.step_wrapper {
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: white;
}
.step_count {
    font-size: 1.05rem;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid crimson;
}
.active_step_count {
    color: aliceblue;
    background-color: crimson;
}
.step_title {
    font-size: 0.825rem;
    font-weight: bold;
}
.stepper_form_section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.stepper_box {
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: relative;
    background-color: transparent;
}
.stepper_position {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1.5px solid royalblue;
    color: royalblue;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 2;
    background-color: white;
    
}
.stepper_name {
    font-size: 0.825rem;
    font-weight: 500;
}
.stepper_indicator {
    width: 80%;
    height: 10px;
    position: absolute;
    left: 10%;
    top: 35%;
    transform: translate(-10px, -50%);
    background-color: royalblue;
}
.stepper_form_box {
    width: 100%;
    height: 38vh;
    overflow: auto;
}
.tick_stepper {
    color: aliceblue;
}
.complete_step {
    background-color: royalblue;
}
.modal_search_list {
    border: 1px solid red;
    width: 100%;
    height: 31vh;
    overflow: auto;
}
.modal_search_loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_groups_container {
    width: 100%;
    height: 100%;
}
.form_label {
    font-weight: 500 !important;
    font-size: 0.95rem !important;
}
.form_control {
    width: 100%;
    height: auto;
    margin: 5px;
}
.form_group {
    border: 1px solid rgb(227, 227, 227);
    margin: 7px 0;
    padding: 5px;
    border-radius: 5px;
}
.remove_btn {
    background-color: #f44336 !important;
    color: aliceblue !important;
    font-size: 0.85rem !important;
    padding: 5px !important;
    width: fit-content !important;
    height: fit-content !important;
}
.add_more_btn_container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_more_modal_btn {
    font-weight: 500 !important;
    font-size: 0.85rem !important;
    /* width: fit-content !important;
    height: fit-content !important; */
    color: black !important;
}
.tournament_tag_container {
    width: 100%;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
}
.tournament_tag {
    font-size: 0.75rem;
    font-size: 500;
    width: fit-content;
    height: fit-content;
    background-color: royalblue;
    color: aliceblue;
    padding: 3px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 3px;
    cursor: pointer;
}